{% extends 'admin/base.html' %}

{% block body %}

<div style="margin:0 auto;width: 800px; font-family:'Georgia', serif; ">
    <h1>Wellcome to Editer Interface</h1> <h3 style="text-align: right">where You can change The Library</h3>
    <br>
    <br>
    <div style="width: 700px;">
        <h4>Using admin/admin user and password You can edit the list of USERS, for example, to provide another user with admin permissions </h4>
        <br>
        <h4>Other authenticated users have permissions only for editing <a href="bookview/">BOOKS</a> and <a href="authorview/">AUTHORS</a> lists</h4>
    </div>
</div>

{% endblock %}
