{% extends "base.html" %}

{% block header %}
 <div class=flash style="float:left; display:none; width:200px">
    {% for message in get_flashed_messages() %}
      <p style="margin-top:5px; margin-bottom:5px" >{{ message }}</p>
    {% endfor %}
  </div>
{% endblock header %}  

{% block content %}
{% from "macros/form_field.html" import render_field %}
<form method=post action="{{url_for('registration')}}">
  <table>
    {{form.csrf_token}}
    {{ render_field(form.login) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </table>
  <p><input type=submit value=Register>
</form>

{% endblock content%}